.line-hr {
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.622);
}

.line-hr-1 {
    height: 1px;
    width: 100%;
    background-color: rgb(152, 152, 152);
}

.line-hr-orange {
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #F13309 0%, #F90 100%);
}

.line-hr-orange-90 {
    margin-left: 20px;
    height: 2px;
    width: 97%;
    background: linear-gradient(90deg, #F13309 0%, #F90 100%);
}